[submodule "GLFrameworkEngine"]
	path = GLFrameworkEngine
	url = https://github.com/MapStudioProject/GLFrameworkEngine
[submodule "Toolbox.Core"]
	path = Toolbox.Core
	url = https://github.com/KillzXGaming/Toolbox.Core
	branch = map-studio
[submodule "MapStudioUI"]
	path = MapStudio.UI
	url = https://github.com/MapStudioProject/MapStudio.UI
